extends layout.pug

block vars
  -var id = 'agenda'

block title
        | Agenda
block content       
            ul
                li.fragment MS Visual Code
                li.fragment Angular CLI
                li.fragment YARN                        