extends layout.pug 

block vars
  - var id = 'angular-cli'

block title
        img(src="img/cli.jpg")
block content            
         ul
           li.fragment
              | creates application scaffolding
           li.fragment
              | generates app fragments
           li.fragment
              | makes developent easy
           li.fragment
              | provides usefull tooling