extends layout.pug 

block vars
  - var id = 'visual-code'

block title      
        img(src="img/visual-code.png")
block content        
         ul
           li.fragment
              | lightweight 
              a(href="https://github.com/Microsoft/vscode/")
                |open source editor
           li.fragment
              | great support for Typescript
           li.fragment
              | intelliSens
           li.fragment
              | integrated git client
           li.fragment
              | integrated terminal
           li.fragment
              |  tons of plugins      
         