extends layout.pug 

block vars
  - var id = 'yarn'

block title        
        img(src="img/yarn.png")
block content
        ul
           li.fragment
              | Yet AnotheR Node Package Manager
           li.fragment
              | ultra fast
           li.fragment
              | mega secure
           li.fragment
              | super reliable